<h1><%= I18n.t('txt.login', :default => 'Login') %></h1>

<% form_tag session_path do -%>
<div id="openid_fields" style="display:none">
<p>
  <label for="openid_url"><%= I18n.t "txt.views_users.login_with_openid", :default => "Login with OpenID" %></label>
  <br />
  <%= text_field_tag 'openid_url', params[:openid_url], :class => "openid_url" %>
</p>
<p>or login with <a href="#" onclick="LoginForm.setToPassword()">username/password</a></p>
</div>

<div id="password_fields">
<p><%= label_tag I18n.t('txt.login_name', :default => 'Login') %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag I18n.t('txt.password', :default => 'Password') %><br/>
<%= password_field_tag 'password', nil %></p>

<p><%= label_tag 'remember_me', I18n.t('txt.remember_me', :default => 'Remember me') %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag I18n.t('txt.log_in', :default => 'Log in') %>
   <%= link_to_function(I18n.t('txt.views_users.reset_password', :default => "reset password"), "$('reset-password').toggle();") %>
   <a href="#" onclick="LoginForm.setToOpenID()"><%= I18n.t('txt.or_login_with_openid', :default => 'or login with OpenID') %></a>
</p>
</div>

<% end -%>

<% form_tag users_path, :id => 'reset-password', :style => 'display:none' do -%>

  <hr />
  <h5><%= I18n.t 'txt.views_users.reset_password', :default => "Reset Password" %></h5>

  <p><%= I18n.t 'txt.views_users.email_directions' %></p>
  <p><%= text_field_tag :email, "", :size => 30 %></p>
  <p><%= submit_tag I18n.t("txt.views_users.send_email", :default => "E-mail me the link") %>
    or <%= link_to_function(I18n.t("txt.cancel", :default => "cancel"), "$('reset-password').hide()") %></p>

<% end -%>

<%= javascript_tag "$('openid_input').focus();"%>
