- @ignore_page_title = true
- @ignore_extra_formats = true
- @ignore_main_menu = true
- @show_intro = true 


- content_for :left_hand do
  #edit_this_site
    %h3
      Anyone can edit this site
    %p
      Please contribute by fixing and improving the pages that you see here.
        

#quick_find
  = render :partial=>"base/quick_find"

  = render :partial=>"base/quick_near_you"
  

#hack_day
  #recent_tweets   
    %h3
      Recent 
      = link_to "Tweets", "http://search.twitter.com/search?q=bccdiy"
      %span.very_quiet
        (#bccdiy)
    #twitter
      .monitter{:title=>"bccdiy", :id=>"tweets"}
      - content_for :scripts do
        = javascript_include_tag "monitter"
      .clear
  #recently_updated
    %h3
      Recently edited pages
    #recently_updated_pages
      %ul
        = render :partial=>"pages/page_version", :collection=>@recently_updated_pages

  
#news_and_events  
  #events
    %h3
      Events today

    %ul
      = render :partial=> 'shared/rss_item_event', :collection=>@events_today
        
    %p.quiet
      (via
      = link_to 'AllBrum.co.uk', "http://allbrum.co.uk"
      )
    
  #news
    %h3
      News today

    %ul
      = render :partial=> 'shared/rss_item_event', :collection=>@news_today

    %p.quiet
      (via
      = link_to 'BirminghamNewsRoom.com', "http://birminghamnewsroom.com"
      )
