- @ignore_page_title = true
- @ignore_extra_formats = true
- @ignore_main_menu = true
- @show_intro = true  

#quick_find
  = render :partial=>"base/quick_find"

  = render :partial=>"base/quick_near_you"
  
#news_and_events  
  #events
    %h3
      Events today

    %ul
      = render :partial=> 'shared/rss_item_event', :collection=>@events_today
        
    %p.quiet
      (via
      = link_to 'AllBrum.co.uk', "http://allbrum.co.uk"
      )
    
  #news
    %h3
      News today

    %ul
      = render :partial=> 'shared/rss_item_event', :collection=>@news_today

    %p.quiet
      (via
      = link_to 'BirminghamNewsRoom.com', "http://birminghamnewsroom.com"
      )


#tweets
  // At some point add in the BCCnewsroom Twitter feed here?