- @ignore_page_title = true
- @ignore_extra_formats = true
- @ignore_main_menu = true
- @show_intro = true 
- @home_page = true

   

#home_upper

  #upper_left
    #quick_find
      = render :partial=>"base/quick_find"

      = render :partial=>"base/quick_near_you"
  
    #featured_pages.featured
      %h3
        Useful 
        = link_to "pages", pages_path
      %ul
        = render :partial=>"pages/featured_page", :collection=> @featured_pages
    
    #useful_tools.featured
      %h3
        Useful
        = link_to "tools", tools_path
      %ul#tool_items
        = render :partial=>"tools/tool", :collection=>@tools

  
    

    
  #upper_right
    #flickr_pick
      - unless @flickr_today.blank?
        = render :partial=>"shared/flickr_image", :object=>@flickr_today.sort_by{ rand }[0]
        
#home_mid
  #featured_events
    %h3
      What's happening today
    = @featured_events.scraped_content.gsub('="/', '="http://allbrum.co.uk/')
    
  #news_and_events  
    #events
      %h3
        All 
        = link_to "events", events_path
        today
      %ul
        = render :partial=> 'shared/rss_item_event', :collection=>@events_today
      
      %p.quiet
        (via
        = link_to 'AllBrum.co.uk', "http://allbrum.co.uk"
        )
  
    #news
      %h3
        = link_to "News", news_path
        today

      %ul
        = render :partial=> 'shared/rss_item_news', :collection=>@news_today

      %p.quiet
        (via
        = link_to 'BirminghamNewsRoom.com', "http://birminghamnewsroom.com"
        )
              

#recommended_links
  %h3
    Directory
  - footer = Page.find_by_slug("footer")
  - unless footer.blank?
    = textilize footer.content
    
#home_lower
      
  #recently_updated
    %h3
      Recently 
      = link_to "edited pages", page_versions_path
    %span.quiet

      = @edit_count 
      edits so far

    #recently_updated_pages
      %ul
        = render :partial=>"pages/page_version", :collection=>@recently_updated_pages 
      %p.clear
  - if 1 == 0
    #recent_tweets   
      %h3
        On Twitter
        %span.very_quiet
          (
          = link_to "#bccdiy", "http://search.twitter.com/search?q=bccdiy"
          |
          = link_to "Chat", "http://roomatic.com/bccdiy"
          )
      #twitter
        .monitter{:title=>"bccdiy", :id=>"tweets"}
        - content_for :scripts do
          = javascript_include_tag "monitter"
        .clear
