- @ignore_page_title = true
- @ignore_extra_formats = true

#intro
  %h2
    A community-generated version of the 
    %br
    Birmingham City Council website
  
#h3
  Oops! We're having some trouble with the latest upgrade - the following boxes aren't working properly at the moment. Try typing your postcode in to the second box...

= render :partial=>"base/quick_find"

  
= render :partial=>"base/quick_near_you"
  
#news_and_events  
  #events
    %h3
      Events today
    
    %p.quiet
      (via
      = link_to 'AllBrum.co.uk', "http://allbrum.co.uk"
      )
    
    %ul
      = render :partial=> 'shared/rss_item_event', :collection=>@events_today
    
  #news
    %h3
      News today

    %p.quiet
      (via
      = link_to 'BirminghamNewsRoom.com', "http://birminghamnewsroom.com"
      )

    %ul
      = render :partial=> 'shared/rss_item_event', :collection=>@news_today




#tweets
  // At some point add in the BCCnewsroom Twitter feed here?