%li.planning_application

  %h3
    = planning_application.address.split("\n")[0] + ", " + planning_application.postcode
  %p.description
    = link_to planning_application.description, planning_application.info_url
  %p
    %span.date
      = planning_application.date_received
    %span.comments
      = link_to "View comments", planning_application.comment_url
  
  %p.address
    = planning_application.address.gsub("\n", "<br />")
 