<h3><%= I18n.t 'txt.views_users.profile', :default => 'User profile' %></h3>

<p>
  <label for="display_name"><%= I18n.t 'txt.views_users.display_name', :default => 'Display name' %></label><br />
  <%= settings.text_field :display_name %>
</p>

<p>
  <label for="user_openid_url"><%= I18n.t 'txt.views_users.openid_url_title', :default => 'Identity Url' %></label><br />
  <p class="help"><%= I18n.t 'txt.views_users.open_id_field', :default => 'Enter your OpenID Identity Url if you know it.' %></p>
  <%= settings.text_field :openid_url %>
</p>

<p>
  <label for="user_website"><%= I18n.t 'txt.views_users.website_title', :default => 'Website' %></label><br />
  <%= settings.text_field :website %> 
	<span class="entryhelp">
	(<%= I18n.t 'txt.views_users.without_http', :default => 'without http://' %>)
	</span>
</p>

<p>
  <label for="user_bio"><%= I18n.t 'txt.views_users.bio_title', :default => 'Bio' %></label><br />
  <%= settings.text_area :bio, :rows => 10, :style => "width:99%" %>
</p>
