<% @page_title = @user.display_name -%>

<% content_for :right do -%>
<% if admin? %>
<% if @user.active? && !@user.suspended? %>

  <p><%= link_to I18n.t('txt.admin.suspend_user_account', :default => "Suspend user account"), suspend_user_path(@user), :method => :put %></p>

<% else %>
  <p><%= I18n.t 'txt.admin.user_account_is_suspended', :default => "User account is suspended" %>. <%= link_to I18n.t('txt.admin.unsuspend_user_account', :default => "Unsuspend user account"), unsuspend_user_path(@user), :method => :put %></p>
  
<% end %>
<p><%= link_to I18n.t('txt.admin.edit_user_account', :default => "Edit user account"), edit_user_path(@user) %></p>
<% end -%>
<% end -%>

<p style="float:right;"><%= avatar_for @user, 80 %></p> 

<%= @user.bio_html %>

<% unless @user.website.blank? -%>
<p><strong><%= I18n.t 'txt.website', :default => 'Website' %></strong> <%= sanitize link_to(@user.website.gsub("http://",""), "http://" + @user.website.gsub("http://","")) %>
<% end -%>

<% unless @user.twitter.blank? -%>
<p><strong><%= I18n.t 'txt.twitter', :default => 'Twitter' %></strong> <%= sanitize link_to(@user.twitter.gsub("@",""), "http://twitter.com/" + @user.twitter.gsub("@","")) %>
<% end -%>

<p><%= I18n.t 'txt.user_since', :default => 'User since {{date}}', :date => @user.created_at.to_date.to_s(:long) %></p>

<h2>Page edits</h2>

<ul>
  <%= render :partial=>"page_versions/page_version", :collection=>@user.page_versions
</ul>