- unless @home_page
  = link_to "Home", home_path
  &raquo;
  
- if @page
  - for page in @page.ancestors.reverse
    = link_to h(page.title), page 
    &raquo;

- if @constituency
  = link_to 'Constituencies', constituencies_path
  &raquo;
  
- if @ward
  = link_to @ward.constituency.name, constituency_path(@ward.constituency)
  &raquo;
  = link_to 'Wards', constituency_wards_path(@ward.constituency)
  
- if @member
  = link_to 'Councillors', members_path
  &raquo;
- if @meeting
  = link_to 'Meetings', meetings_path
  &raquo;

- if @atoz
  = link_to "A - Z", atoz_path
  &raquo;
  
- if @job
  = link_to "Jobs", jobs_path
  &raquo;
  
- if @restyle
  = link_to "Custom styles", restyles_path
  &raquo;