%ul#top_navigation
  %li= link_to "Home", home_path
  %li= link_to "Near me", constituencies_path
  %li= link_to "Services", pages_path
  %li= link_to "Tools", tools_path
  %li= link_to "Planning", planning_applications_path
  %li= link_to "Councillors", members_path
  %li= link_to "Committees", committees_path
  %li= link_to "Contact", contact_path

    
    
    