
  
- if @page.blank?

  - @page_title = "This is a dead link from the original site"
  
  %p
    Lots of pages on the site are referenced, but don't actually go anywhere. We'll be removing these over time (with your help!)
- else

  - content_for :edit_link do
    (
    = link_to "Edit", edit_page_path(@page)
    )

  - @page_title = @page.title
  
  - unless @page.user.blank?
    #last_edited_by
      Last edited by 
      %span.user
        = link_to @page.user.login, user_path(@page.user)
  
  #page_content
    - if @page.alias
      - @alias = Page.find_by_id(@page.alias_id)
      %h2
        This page is an alias
        - unless @alias.blank?
          to
          = link_to @alias.title, page_path(@alias)
          
    #this_is_a_beta
      Many pages haven't been edited yet, so please bear that in mind!
      
    - if @page.is_textile
      = textilize @page.content
    - else
      = @page.content
  #original_url
    %h2
      =link_to 'Original', @page.url  

  - if 1 == 0
    #hide_this_page
      %h2
        = button_to 'This page is a duplicate - hide it', hide_page_path(@page)
        