- @page_title = @ward.name

- @postcode = ''
- if params[:postcode] 
  - @postcode = params[:postcode]    
- else
  - if cookies[:postcode]
    - if cookies[:ward_id] == @ward.id  
      - @postcode = cookies[:postcode]
#ward
  #left_ward  
    %h2
      Search this local area
    #google_map
      #map_canvas{:style=>"width: 640px; height: 320px"}
  
  
    #fix_my_street
      %h2
        Street problems 


      #recent_problems
        %ul
          = render :partial=> 'shared/rss_item', :collection=>@fix_my_street
      %p.quiet
        (via 
        = link_to 'FixMyStreet.com', 'http://fixmystreet.com'
        )
      %h3
        - unless @postcode.blank?
          = link_to 'Report a problem', 'http://www.fixmystreet.com/?pc=' + @postcode.gsub(' ', '+')
        - else
          = link_to 'Report a problem', 'http://www.fixmystreet.com/'
      

    #planning_alerts
      %h2
        Planning applications

      #recent_alerts
        %ul
          = render :partial=> 'shared/rss_item_long', :collection=>@planning_alerts

      %p.quiet
        (via 
        = link_to 'PlanningAlerts.com', 'http://planningalerts.com'
        )
    #plings
      %h2
        Things to do

      #recent_plings
        %ul
          = render :partial=> 'shared/rss_item_long', :collection=>@plings
      %p.quiet
        (via 
        = link_to 'Plings', 'http://plings.info'
        )
      
  #right_ward
    #councillors

      %h2
        Councillors
  
      
      %h3
        = link_to "Write to them", "http://www.writetothem.com/"
      
      %p.quiet
        (via 
        = link_to 'Openly Local', 'http://openlylocal.com/councils/167-Birmingham-City-Council'
        )

      #ward_members
        %ul
          = render :partial=>"members/member", :collection=>@openly_local_ward.members

    - if 1 ==0
      #committees
        %h2
          Committees
        %p.quiet
          (via 
          = link_to 'Openly Local', 'http://openlylocal.com/councils/167-Birmingham-City-Council'
          )
        #ward_committees
          %ul
            = render :partial=>"committees/committee", :colletion=>@openly_local_ward.committees



- content_for :scripts do

  = javascript_include_tag "http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAa7htYtqM06zRBCnvw4H0whT4RPgNTbRw-6xXu3oOlixanS-NkRRvsEzhRxgsYXDewt8vTRJMtM4cLA"
  = javascript_include_tag "http://www.google.com/uds/api?file=uds.js&v=1.0&key=ABQIAAAAa7htYtqM06zRBCnvw4H0whT4RPgNTbRw-6xXu3oOlixanS-NkRRvsEzhRxgsYXDewt8vTRJMtM4cLA"
  = javascript_include_tag "http://www.google.com/uds/solutions/localsearch/gmlocalsearch.js"
  %script{:type=>"text/javascript"}
    :plain
  
      
      
    
      function initialize() {
        
        function usePointFromPostcode(postcode, callbackFunction) {

          var localSearch = new GlocalSearch();
          

          localSearch.setSearchCompleteCallback(null,
            function() {

              if (localSearch.results[0]) {    
                var resultLat = localSearch.results[0].lat;
                var resultLng = localSearch.results[0].lng;
                var point = new GLatLng(resultLat,resultLng);

                map.setCenter(point, 13);

              }else{
                alert("Postcode not found!");
              }
            });  

          localSearch.execute(postcode + ", UK");
        }
        
        if (GBrowserIsCompatible()) {
          var mapOptions = {
            googleBarOptions : {
              style : "new"
            }
          }
          map = new GMap2(document.getElementById("map_canvas"), mapOptions);
          map.setUIToDefault();
          map.enableGoogleBar();
    
    - if params[:postcode] 
      - search_term = params[:postcode]    
    - else
      - if cookies[:postcode]
        - if cookies[:ward_id] == @ward.id  
          - search_term = @ward.name + ", Birmingham, UK"
        - else
          - search_term = cookies[:postcode]
      - else
        - search_term = @ward.name + ", Birmingham, UK"
      
      ='usePointFromPostcode("' + search_term + '");'

    :plain
        }
      }
    
    
      $(document).ready(function(){initialize()});
    
  - if @fix_my_street.blank?

    :javascript
    
      var fix_my_street = false;
  
      function stop_loading_fix_my_street()
      {
        fix_my_street = true;
      }
    = periodically_call_remote(:url=>fix_my_street_constituency_ward_path(@ward.constituency, @ward), :frequency => 0.5, :condition => "fix_my_street == false")
    
  - if @plings.blank?
    :javascript

      var plings = false;

      function stop_loading_plings()
      {
        plings = true;
      }
    = periodically_call_remote(:url=>plings_constituency_ward_path(@ward.constituency, @ward), :frequency => 0.5, :condition => "plings == false")
  
  - if @planning_alerts.blank?
    
    :javascript
      var planning_alerts = false;

  
      function stop_loading_planning_alerts()
      {
        planning_alerts = true;
      }
    = periodically_call_remote(:url=>planning_alerts_constituency_ward_path(@ward.constituency, @ward), :frequency => 0.5, :condition => "planning_alerts == false")
