- @page_title = @ward.name


#councillors

  %h2
    Councillors
  
  %p.quiet
    (via 
    = link_to 'Openly Local', 'http://openlylocal.com/councils/167-Birmingham-City-Council'
    )
  %h3
    = link_to "Write to them", "http://www.writetothem.com/"

  #ward_councillors
    %ul
      - @openly_local_ward.members.each do |member|        
        %li

          .councillor.vcard
            .fn
              = member.first_name
              = member.last_name
            .org
              = member.party
            .adr
              .street_address
                = member.address
              .locality
                Birmingham
              .country-name
                UK
            .tel
              = member.telephone
            .email
              = link_to member.email, "mailto:#{member.email}"


#fix_my_street
  %h2
    Street problems 
  
  %p.quiet
    (via 
    = link_to 'FixMyStreet.com', 'http://fixmystreet.com'
    )
    
  %h3
    = link_to 'Report a problem', 'http://fixmystreet.com'
    
  #recent_problems
    %ul
      = render :partial=> 'shared/rss_item', :collection=>@fix_my_street
      
#planning_alerts
  %h2
    Recent planning applications
  %p.quiet
    (via 
    = link_to 'PlanningAlerts.com', 'http://planningalerts.com'
    )
  #recent_alerts
    %ul
      = render :partial=> 'shared/rss_item_long', :collection=>@planning_alerts


- content_for :scripts do

  - if @fix_my_street.blank?

    :javascript
    
      var fix_my_street = false;
  
      function stop_loading_fix_my_street()
      {
        fix_my_street = true;
      }
    = periodically_call_remote(:url=>fix_my_street_constituency_ward_path(@ward.constituency, @ward), :frequency => 0.5, :condition => "fix_my_street == false")
  
  - if @planning_alerts.blank?
    
    :javascript
      var planning_alerts = false;

  
      function stop_loading_planning_alerts()
      {
        planning_alerts = true;
      }
    = periodically_call_remote(:url=>planning_alerts_constituency_ward_path(@ward.constituency, @ward), :frequency => 0.5, :condition => "planning_alerts == false")
