!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
  
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'jquery.autocomplete'
    
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    
    
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
    
  %body.blueprint{:style=>body_styles}
    
    .container
    
      #skip
        = link_to "Jump to page contents", "#page_content", :accesskey=>"s", :title=>"Jump to page contents. Access key S" 
        = link_to "Jump to navigation", "#main_navigation", :accesskey=>"n", :title=>"Jump to main navigation. Access key N"
        
      
      #header
        #logo_and_breadcrumb
          %h1#logo
            %a.logolink{:href=>"/", :title=>"BCC DIY"}
              %span.logotype
                BCC DIY
        
          #breadcrumb
            = render :partial => "shared/breadcrumb"
            
        - if @page
          = render :partial=>"base/quick_find"
          
      

      
              
      #navigation
        %a{:name=>"main_navigation"}
        = render :partial => "shared/navigation"
        
      #content
        %a{:name=>"page_contents"}
        - if @ignore_page_title.blank?
          %h1
            = @page_title
        = @content_for_layout


      #footer
        %p.quiet
          This is an unofficial website, aimed at providing a useful service to people in Birmingham based on the contents of the
          = link_to "Birmingham City Council", "http://birmingham.gov.uk"
          website, combined with other tools and services.
          
        %ul#footer_navigation
          
           
          %li
            Email: 
            = link_to "contact@birmingham.gov.uk", "mailto:contact@birmingham.gov.uk"
          %li
            Telephone: 0121 303 1111
          %li
            Textphone: 0121 303 1119
              
          %li
            %a{:href=>"http://steflewandowski.com", :title=>"Built by Stef"}
              ="Built by Stef and friends"
              
          - if @rss_title && @rss_url
            %li#rss= link_to :rss.l, @rss_url, {:title => @rss_title}
      
    = render :partial=>"shared/scripts"
    = yield :scripts
