!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    
    
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
    - else  
      %link{:rel=>"alternate", :type=>"application/rss+xml", :href=>"http://bccdiy.com/news.rss", :title=>"News feed from Birmingham Newsroom"}
    
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %meta{:name=>"verify-v1", :content=>"D0qo6f8ZVcAd1GCfupe5A5MM8OEIxUbMBCsCvCBa92k="}

    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
        
    / Description and keywords
    %meta{:name=>"description", :content=>"The community-powered Birmingham City Council site that makes it easy to report problems , view planning applications and more in your local area"}
    %meta{:name=>"keywords", :content=>"Birmingham City Council DIY"}
    %meta{:name=>"language", :content=>"EN"}
    
    / Dublin Core
    
    %meta{:name=>"DC.Title", :content=>"Birmingham City Council DIY. Homepage"}
    %meta{:name=>"DC.Creator", :content=>"A community of volunteers"}
    %meta{:name=>"DC.Subject", :content=>"Local government"}
    %meta{:name=>"DC.Description", :content=>"Birmingham City Council"}
    %meta{:name=>"DC.Publisher", :content=>"BCCDIY c/o, Moseley Exchange, Moseley, Birmingham, B13 8JP"}
    %meta{:name=>"DC.Rights", :content=>"Creative Commons Attribution"}
    %meta{:name=>"DC.Identifier" scheme=>"URI", :content=>"http://bccdiy.com"}
    %meta{:name=>"DC.Language" scheme=>"ISO 639-2/T", :content=>"en"}
    %meta{:name=>"DC.Format" scheme=>"IMT", :content=>"text/html"}
    %meta{:name=>"DC.Coverage", :content=>"Birmingham, UK"}
    %meta{:name=>"DC.Date", :content=>"2009-10-01"}
    
    / GeoURL
    %meta{:name=>"ICBM", :content=>"52.47500,-1.88500"}
    %meta{:name=>"geo.position", :content=>"52.47500;-1.88500"}
    %meta{:name=>"DC.title", :content=>"Birmingham City Council"}
    
    / Shortcut
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    
    / Default scripting and style formats
    %meta{"http-equiv"=>"Content-Script-Type", :content=>"text/javascript"}
    %meta{"http-equiv"=>"Content-Style-Type", :content=>"text/css"}
    
  
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'jquery.autocomplete'
    
    = yield :styles
    
    - unless cookies[:restyle_id].blank?
      %style{:type=>"text/css"}
        - begin
          = Restyle.find(cookies[:restyle_id]).css
        - rescue
        
        
    - unless @markitup.nil?
      = stylesheet_link_tag "/javascripts/markitup/skins/markitup/style.css"
      = stylesheet_link_tag "/javascripts/markitup/sets/textile/style.css"


    
    
    
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    
  %body.blueprint
    
    .container
    
      #the_event
        Want to help?  
        = link_to "Improve this page", "http://github.com/steflewandowski/BCCDIY/issues"
        |
        = link_to "Edit a page", page_versions_path
        |
        = link_to "Discuss and contribute on the WIKI", "http://bccdiy.pbworks.com/"
        |
        = link_to "Help code this site", "http://github.com/steflewandowski/BCCDIY"
        
        
      #top_bar
        #jump
          %p
            = link_to "Jump to page contents", "#page_contents", :accesskey=>"s", :title=>"Jump to page contents. Access key S" 
            |
            = link_to "Jump to navigation", "#main_navigation", :accesskey=>"n", :title=>"Jump to main navigation. Access key N"
        #my_near_me
          - if logged_in?
            - if cookies[:postcode]
              %p
                My location: 
                - if cookies[:ward_id]
                  - ward = Ward.find_by_id(cookies[:ward_id])
                  - unless ward.blank?
                    = link_to ward.name, ward_path(ward)
              
                based on postcode: 
                = cookies[:postcode][0..2]
                XXX
                |
                = link_to "Change", "/constituencies#postcode"
          &nbsp;
      
        #user_menu 
          = link_to "Change the way this site looks", restyles_path
          %ul
            - if logged_in?
              %li.login=  link_to current_user.display_name, user_path(current_user)
              %li.settings=  link_to I18n.t('txt.settings', :default => 'Settings'), settings_path
              %li.logout=  link_to I18n.t('txt.logout', :default => 'Logout'), logout_path(:to => CGI.escape(request.request_uri))
            - else
              %li.signup=   link_to I18n.t('txt.signup', :default => 'Signup'), signup_path(:to => CGI.escape(request.request_uri))
              %li.login=   link_to I18n.t('txt.login', :default => 'Login'), login_path(:to => CGI.escape(request.request_uri))
      
      #header
        - if @show_intro
          #intro_header
          
            %h1#logo
              %a.logolink{:href=>"/", :title=>"BCC DIY"}
                %span.logotype
                  = image_tag "bccdiy-logo.png"
                  
                  BCC DIY
                  %span.beta
                    BETA
                  
            #intro
              %h2
                The community-powered Birmingham City Council site that makes it easy to
                %br 
                = link_to "report problems", constituencies_path
                , view 
                = link_to "planning applications", planning_applications_path
                and more in your 
                = link_to "local area", constituencies_path
                
        - else
          #logo_and_breadcrumb
            %h1#logo
              %a.logolink{:href=>"/", :title=>"BCC DIY"}
                %span.logotype
                  = image_tag "bccdiy-logo.png"
                  BCC DIY
                  %span.beta
                    BETA
        
            
        
          = render :partial=>"base/quick_find"
      
      #main_menu
        %a{:name=>"main_navigation"}
        = render :partial=>"shared/tabs"
        
      - unless @home_page
        #breadcrumb
          = render :partial => "shared/breadcrumb"
      
      - if @home_page
        #home_content
          %a{:name=>"page_contents"}
          #messages
            - %w(info notice error).each do |type|
              - if flash[type.to_sym]
                .warning.flash_message{:class => "#{type.to_s}"}
                  %span= h(flash[type.to_sym])
                  
          = @content_for_layout
      - else  
        
        - unless @page.blank?
          #navigation
            
            = render :partial => "shared/navigation"


            = yield :left_hand
        - else
          #left_hand
            = yield :left_hand
        #content
          %a{:name=>"page_contents"}
        
          #messages
            - %w(info notice error).each do |type|
              - if flash[type.to_sym]
                .warning.flash_message{:class => "#{type.to_s}"}
                  %span= h(flash[type.to_sym])



          - if @ignore_page_title.blank?
            %h1
              = @page_title
              = yield :edit_link
            
            - unless @rss_url.blank?
              #page_rss_feed_icon
                %a{:href=>@rss_url, :title=>@rss_title}
                  %span
                    RSS Feed for this page
              #page_email_feed_icon
                %a{:href=>"javascript:(function(){var%20e=prompt('Enter%20your%20email%20address.');if%20(e%20!=%20''%20&&%20e%20!=%20null){f='http://www.feedmyinbox.com/feeds/bookmark/?email='+encodeURIComponent(e)%20+'&feed=" + @rss_url + "';a=function(){if(!window.open(f,'fmi','location=yes,links=no,scrollbars=no,toolbar=no,width=500,height=490'))location.href=f+'jump=yes'};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}}})()", :title=>"Get email updates for this page"}
                  %span
                    Get email updates for this page
          = @content_for_layout



          
      #footer

        #please_donate
          %a{:href=>'http://www.pledgie.com/campaigns/6257?canvas=false'}
            %img{:alt=>'Click here to lend your support to: BCCDIY and make a donation at www.pledgie.com !', :src=>'http://www.pledgie.com/campaigns/6257.png?skin_name=chrome'}
        
        #about_this_site
          %p.quiet
            This is an unofficial website, aimed at providing a useful service to people in Birmingham based on the contents of the
            = link_to "Birmingham City Council", "http://birmingham.gov.uk"
            website, combined with other tools and services.
          

        
        %ul#footer_navigation
          
          %li
            = link_to "Contribute to this project", "http://bccdiy.pbworks.com/"
           
          %li
            Email: 
            = link_to "contact@birmingham.gov.uk", "mailto:contact@birmingham.gov.uk"
          %li
            Telephone: 0121 303 1111
          %li
            Textphone: 0121 303 1119
              
          %li
            %a{:href=>"http://steflewandowski.com", :title=>"Built by Stef"}
              ="Built by Stef and friends"
              

      
      
        - unless @ignore_extra_formats
          #other_formats
            Get this page as:
            %ul
              %li
                = link_to 'XML', request.request_uri + '.xml'
              %li
                = link_to 'JSON', request.request_uri + '.json'
              - if @rss_title && @rss_url
                %li#rss= link_to "RSS", @rss_url, {:title => @rss_title}
                %li#email= link_to "Email updates", "javascript:(function(){var%20e=prompt('Enter%20your%20email%20address.');if%20(e%20!=%20''%20&&%20e%20!=%20null){f='http://www.feedmyinbox.com/feeds/bookmark/?email='+encodeURIComponent(e)%20+'&feed='+encodeURIComponent(" + @rss_url + ");a=function(){if(!window.open(f,'fmi','location=yes,links=no,scrollbars=no,toolbar=no,width=500,height=490'))location.href=f+'jump=yes'};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}}})()"
    = render :partial=>"shared/scripts"
    = yield :scripts
    :plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-10824918-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
      
      <!--<script type="text/javascript">
        var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
        document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
      </script>
      <script type="text/javascript">
      UserVoice.Tab.show({ 
        /* required */
        key: 'bccdiy',
        host: 'bccdiy.uservoice.com', 
        forum: '29880', 
        /* optional */
        alignment: 'left',
        background_color:'#f00', 
        text_color: 'white',
        hover_color: '#06C',
        lang: 'en'
      })
      </script>-->
